@model IEnumerable<WfmWeb.Models.Employeeswithskills>

@{
    ViewData["Title"] = "manager";
}

<h1>Manager Screen</h1>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profilename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employee_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee_name)
                </td>
                <td>
                    @foreach (var x in item.Skills)
                    {
                        <span class="badge badge-secondary">@Html.DisplayFor(modelItem => x)</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profilename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.manager)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary" 
                            data-url='@Url.ActionLink("_lock","Home",new { id = item.employee_id} )'>Request Lock</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="Modal" role="dialog" ></div>

<script>
    $('.btn-outline-primary').click(function () {
        var url = $(this).data('url');
        $.get(url, function (data) {
            $("#Modal").html(data);
            $("#Modal").modal('show');
        });
    });
</script>





